h2{
  text-align: center;
}
.container-fluid{
  padding-top: 20px;
  display: flex;
}
.list-group-item{
  cursor: pointer;
}
#loader {
  position: relative;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-top: 200px;
  }
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
  min-width: 50px;
}

tr:nth-child(even){background-color: #f2f2f2}
.dategroup{
  display: block;
}
.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
  display: inline-flex;
  }

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 200px;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 100px;
  caret-color:red;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
  }
  