body {
	color: #fff;
	background:green;
}
.form-control {
	min-height: 41px;
	background: #fff;
	box-shadow: none !important;
	border-color: #e3e3e3;
}
.form-control:focus {
	border-color: #70c5c0;
}
.form-control, .btn {        
	border-radius: 2px;
}
.reset-password-form {
	width: 350px;
	margin: 0 auto;
	padding: 100px 0 30px;		
}
.reset-password-form form {
	color: #7a7a7a;
	border-radius: 2px;
	margin-bottom: 15px;
	font-size: 13px;
	background: #ececec;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;	
	position: relative;	
}
.reset-password-form h2 {
	font-size: 22px;
	margin: 35px 0 25px;
}
.reset-password-form .avatar {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -50px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #70c5c0;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.reset-password-form .avatar img {
	width: 100%;
}	
.reset-password-form input[type="checkbox"] {
	position: relative;
	top: 1px;
}
.reset-password-form .btn, .reset-password-form .btn:active {        
	font-size: 16px;
	font-weight: bold;
	background: #70c5c0 !important;
	border: none;
	margin-bottom: 20px;
}
.reset-password-form .btn:hover, .reset-password-form .btn:focus {
	background: #50b8b3 !important;
}    
.reset-password-form a {
	color: #fff;
	text-decoration: underline;
}
.reset-password-form a:hover {
	text-decoration: none;
}
.reset-password-form form a {
	color: #7a7a7a;
	text-decoration: none;
}
.reset-password-form form a:hover {
	text-decoration: underline;
}
.reset-password-form .bottom-action {
	font-size: 14px;
}
.team-member .icon-box-success {
	color: #fff;		
	position: relative;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #82ce34;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.team-member .icon-box-success i {
	font-size: 58px;
	position: relative;
	top: 3px;
}
.team-member .icon-box-failure {
	color: #fff;		
	position: relative;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background:red;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.team-member .icon-box-failure i {
	font-size: 58px;
	position: relative;
	top: 3px;
}
  .team-section {
    font-family: arial;
    text-align: center;
    padding: 70px 0px;
    background-color: #d0d5da;
}
a{
    color: black;
}
.button-green {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  
  .button5 {border-radius: 50%;}
  .button-red {
    background-color:red; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
.team-section h2 {
    color: #3b5997;
    font-size: 40px;
    
}
.team-section p {
    font-size: 16px;
    color: #656565;
    margin: 0px 0px 20px;
    text-align: center;
}
.team-member {
    width: 100%;
    float: left;
    padding: 25px 15px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #eee;
    margin-top: 30px;
    box-shadow: 0px 8px 0px 0px #9E9E9E;
    transition: 0.5s;
}
.team-member:hover {
    box-shadow: 0px -8px 0px 0px #9e9e9e;
}
.team-member h3 {
    font-size: 24px;
    margin: 15px 0px 0px;
}
.team-member h5 {
    margin: 10px 0px 10px;
    color: #8a8a8a;
    display: inline-block;
}
.team-member p {
    font-size: 16px;
    color: #8a8a8a;
}
.team-member .photo {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid #9E9E9E;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 4px;
}