#gloal{
  display: flex;
}


h4{
    text-align: center;
  }
  body
  {
    margin-top: 100px;
  }
  .list-group-item{
    cursor: pointer;
  }
  #loader {
    position: relative;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-top: 200px;
    }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    table-layout: auto;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    min-width: 100px; 

  }
  /*.modal{
    overflow-y: auto;
    overflow-x: auto;
    width: 700px;
  }*/
 /* .modal-dialog{
    overflow-y: auto;
    overflow-x: auto;
    width: 1200px;
  }*/
  .modal-dialog
  {
   
    min-width: 1400px;

  }
  .modal-body {
    overflow-x: auto;
    overflow-y: auto;
  }
  .modal-content{
    max-height: 700px;

  }
  tr:nth-child(even){background-color: #f2f2f2}