#bodycontainer1{
    display: none;
}
#bodycontainer2{
    display: none;
}
#bodycontainer3{
    display: none;
}
#bodycontainer4{
    display: none;
}
#bodycontainer5{
    display: none;
}
#bodycontainer6{
    display: none;
}