<div id="loader" *ngIf="loading"></div>
<div class="container-fluid"*ngIf="reclamation">
  <h2 style="text-align: center;">Détail de la réclamation</h2> 
    <fieldset>
      <legend>Id Réclamation:{{reclamation.ref}}{{reclamation.refprefixe}}</legend>
      <table class="table table-striped"*ngIf="filtermotif()[0]">
        <thead>
          <tr><th>Groupe:&nbsp;<span>{{filtermotif()[2]}}</span></th></tr>
          <tr><th>Type:&nbsp;<span>{{filtermotif()[1]}}</span></th></tr>
          <tr><th>Motif:&nbsp;<span>{{filtermotif()[0]}}</span></th></tr>
        </thead>
      </table>
        <legend>Détail de la transaction</legend>
        <div class="users-grid"  style="overflow-x:auto;overflow-y: auto">
          <table class="table table-striped" id="tablebordered">
            <thead>
                <tr>
                  <th scope="col" [style.top]="inverseOfTranslation">Date transaction</th>
                  <th scope="col" [style.top]="inverseOfTranslation">Heure trasnaction</th>
                  <th scope="col" [style.top]="inverseOfTranslation">Carte</th>
                  <th scope="col" [style.top]="inverseOfTranslation">ARN</th>
                  <th scope="col" [style.top]="inverseOfTranslation">Montant</th>
                  <th scope="col" [style.top]="inverseOfTranslation">Montant compensé</th>
                  <th scope="col" [style.top]="inverseOfTranslation">Acquéreur</th>
                  <th scope="col" [style.top]="inverseOfTranslation">Emetteur</th>
                  <th scope="col" [style.top]="inverseOfTranslation">Type de transaction</th>
                  <th scope="col" [style.top]="inverseOfTranslation">Canal</th>
                  <th scope="col" [style.top]="inverseOfTranslation">ID commerçant</th>
                </tr>
                </thead>
                <tbody *ngIf="reclamation">
                  <tr *ngFor="let comp of reclamation.transactions, let i=index">
                    <td>{{comp.TRANSACTIONDATE|customDate}}</td>
                    <td>{{comp.TRANSACTIONTIME}}</td>
                    <td>{{comp.CARDHOLDERNUMBER|truncatecard}}</td>
                    <td>{{comp.ACQUIRERREFERENCENUMBER}}</td>
                    <td>{{comp.TRANSACTIONAMOUNT}}</td>
                    <td>{{comp.SETTLEMENTAMOUNT}}</td>
                    <td>{{comp.ACQUIRERBANKIDENTIFICATION}}</td>
                    <td>{{comp.ISSUERBANKIDENTIFICATION}}</td>
                    <td>{{filtervalue(comp.TRANSACTIONCODE)}}</td>
                    <td>{{filtervalue(comp.CHANNELTRANSACTIONID)}}</td>
                    <td>{{comp.MERCHANTIDENTIFICATION}}</td>
                  </tr>
                </tbody>
        </table>
          </div> 
    </fieldset>
    <!--formulaire de la réclamation-->

<fieldset *ngIf="showphase">
    <legend>Formulaire d'enrichissement de la réclamation de l'utilisateur&nbsp;{{selectedaction}}</legend>
    <table class="table table-striped">
      <thead>
      <tr>   
      <th>Commentaire</th>
      <th>Motif</th>
      <th>Document </th>
      </tr>
      </thead>
      <tbody *ngIf="reclamation">
      <tr *ngFor="let item of informations; let i = index;">  
            <td  style="text-align: center;">{{item.commentaire| lowercase}}</td>
            <td  style="text-align: center;"> {{item.motif| lowercase}}</td>
            <td >
              <ng-container *ngFor="let element of item.ficheUrl; let k = index;">
                <a href="{{element| lowercase}}" target="_blank"*ngIf="element">Aperçu document&nbsp; {{k+1}} <br></a>
              </ng-container>
            </td>    
      </tr>
      </tbody>
      </table>
</fieldset>
<fieldset *ngIf="showall">
  <legend>Historique de la réclamation</legend>
      <div class="users-grid"  style="overflow-x:auto;overflow-y: auto">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" [style.top]="inverseOfTranslation">Statut</th>
                <th scope="col" [style.top]="inverseOfTranslation">Date Statut</th>
                <th scope="col" [style.top]="inverseOfTranslation">Acteur</th>
                <th scope="col" [style.top]="inverseOfTranslation">Détails</th>
              </tr>
              </thead>
              <tbody *ngIf="reclamation">
                <tr *ngFor="let stat of reclamation.statut, let i=index">
                  <ng-container *ngIf="user.banque==reclamation.transactions[0].ACQUIRERBANKIDENTIFICATION&&user.banque!=reclamation.transactions[0].ISSUERBANKIDENTIFICATION&&stat.acteur!='Clientpor'&&filterstat(stat.date)||user.banque==reclamation.transactions[0].ISSUERBANKIDENTIFICATION&&user.banque!=reclamation.transactions[0].ACQUIRERBANKIDENTIFICATION&&stat.acteur!='Clientcomm'&&stat.acteur!='acquireur'&&stat.etat!='Ajout note'&&stat.etat!='notification commerçant'&&stat.etat!='réponse commerçant'||filterstatcommport(stat.date)||user.banque==reclamation.transactions[0].ISSUERBANKIDENTIFICATION&&user.banque==reclamation.transactions[0].ACQUIRERBANKIDENTIFICATION||filterarbitrage(stat.date)">
                    <td> <span *ngIf="i>1">{{stat.item | changestatus:reclamation:user:reclamation.statut[i-1].item:reclamation.statut[i-2].item}}</span><span *ngIf="i==1">{{stat.item | changestatus:reclamation:user:reclamation.statut[i-1].item:''}}</span><span *ngIf="i==0">{{stat.item | changestatus:reclamation:user:'':''}}</span>&nbsp;&nbsp;<span class="badge bg-secondary bg-secondary">{{stat.etat}}</span></td>
                    <td>{{stat.date| customDate:'yes'}}</td>
                    <td> <span *ngIf="stat.role=='autre'||!stat.role">{{filteracteur(stat.acteur)}}</span><span *ngIf="stat.role!='autre'">{{stat.role| uppercase}}</span></td>
                    <td><span (click)="opendetail('open-detail',reclamation._id,stat.date)"target="_blank"*ngIf="stat.commentaire||stat.motif" style="text-decoration: underline;cursor: pointer;">Détail</span><span *ngIf="!stat.commentaire&&!stat.motif">Formulaire indisponible</span></td>    
                  </ng-container>
                 </tr>
              </tbody>
          </table>
        </div> 
</fieldset>
<button (click)="getNavigation('user-board')" style="float: right;"><span><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></span>Retour vers tableau de bord</button>

</div>